<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput placeholder="type your name" value="">
  </mat-form-field>

  <mat-form-field class="Password">
    <mat-label>Password</mat-label>
    <textarea matInput placeholder=""></textarea>
  </mat-form-field>

<mat-form-field class="Forgot Password">
  <mat-label>Forgot Password</mat-label>
  <textarea matInput placeholder=""></textarea>
</mat-form-field>
<button mat-raised-button (click)="login" >Login</button>
</form>